<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta name="viewport" content="width=960">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta property="fb:admins" content="100002358474209">
    <meta property="fb:app_id" content="362864550832043">
    <meta property='og:site_name' content='Hitokun's />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@hitokuns">
    
    
    
    
    
    
    
    <meta property="og:title" content="Angular and Semantic-UI Form test" />
    <meta property="og:type" content="article" />

    <title>Angular and Semantic-UI Form test | Hitokun's</title>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <![endif]-->
    <script src="js/google-tracking.js"></script>

    <link href="css/responsive-helper.css" rel="stylesheet">
    <style>
        body{
            font-size: 20px;
            min-width: 800px;
            overflow-x: auto;
        }
        .h-40{
            height:40px;
        }
    </style>
</head>
<body>





<div class="ui top container">
    <div class="ui tabular menu h-40">
        <div class="left menu">
            <a href="/" class="item"><h1>Hitokun's</h1></a>
            <div class="large screen only">
                <span class="ui left pointing big label" style="margin-top:21px;">
                    My.status = (I as Programmer).canHelp(You) ? HAPPY : SAD;
                </span>
            </div>
        </div>
        <div class="right menu">
            <a href="/index.html" class="item active">
                Home
            </a>
            <a href="/about.html" class="item ">
                About
            </a>
            <a href="/contact.html" class="item ">
                Contact
            </a>
        </div>
    </div>
</div>
<br>
<div class="ui container">
    <div class="ui big breadcrumb" id="breadcrumb" v-if="!isHome()">
        <template v-for="item in getMenu()">
            <a :href="item.path" class="section">{{ item.name }}</a>
            <i class="right chevron icon divider"></i>
        </template>
    </div>
    <h1>Angular and Semantic-UI Form test</h1>
<div ng-app="myApp">
    <div ng-controller="myController">
        <form name="myForm" novalidate ng-submit="submit( myForm )">
            <h3 class="ui dividing header">hoge title</h3>
                <div class="inline fields">
                    <div class="field required">
                        <label>Question:1</label>
                    </div>
                    <div class="field" ng-click="toggleIsHoge(myForm, true)">
                        <div class="ui radio checkbox">
                            <input type="radio" name="isHoge" ng-model="isHoge" ng-checked="isHoge == true" required>
                            <label>Yes</label>
                        </div>
                    </div>
                    <div class="field" ng-click="toggleIsHoge(myForm, false)">
                        <div class="ui radio checkbox">
                            <input type="radio" name="isHoge" ng-model="isHoge" ng-checked="isHoge == false" required>
                            <label>No</label>
                        </div>
                    </div>
                </div>
                <div class="inline fields">
                    <div class="field required">
                        <label>Question:2</label>
                    </div>
                    <div class="field" ng-click="toggleIsFuga(myForm, 1)">
                        <div class="ui radio checkbox">
                            <input type="radio" name="isFuga" ng-model="isFuga" ng-checked="isFuga == 1" required>
                            <label>Fuga:1</label>
                        </div>
                    </div>
                    <div class="field" ng-click="toggleIsFuga(myForm, 2)">
                        <div class="ui radio checkbox">
                            <input type="radio" name="isFuga" ng-model="isFuga" ng-checked="isFuga == 2" required>
                            <label>Fuga:2</label>
                        </div>
                    </div>
                    <div class="field" ng-click="toggleIsFuga(myForm, 3)">
                        <div class="ui radio checkbox">
                            <input type="radio" name="isFuga" ng-model="isFuga" ng-checked="isFuga == 3" required>
                            <label>Fuga:3</label>
                        </div>
                    </div>
                </div>
            
            <button type="submit" class="ui button button-default" ng-disabled="!myForm.$dirty">設定</button>
        </form>
    </div>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myController', function($scope) {
        
        $scope.isHoge = null;
        
        $scope.isHogeSet = function(){
            return typeof $scope.isHoge != "undefined"; 
        }
        $scope.toggleIsHoge= function(form, bool){
            $scope.isHoge = bool;
            form.$setDirty();
            
        };
        $scope.toggleIsFuga = function(form, v){
            $scope.isFuga = v;
            form.$setDirty();
        }

        $scope.hasError = function (elm, attr, target) {
            return elm[attr].$error[target] && ( elm[attr].$dirty || elm.$submitted );
        };
        
        $scope.submit = function(form){
            if (form.$invalid) {
                alert("cannot submit because of some error!");
                console.log("form.$invalid", form.$invalid);
                console.log("form", form);
                return false;
            }
            alert("submit!");
            console.log(form);
        }
    });
</script>
</div>
<script>
    var breadcrumb = new Vue({
        el: '#breadcrumb',
        data: {
        },
        methods: {
            getMenu: function(){
                var totalPath = "/";
                var res = [];
                var paths = window.location.pathname.split("/");
                for(var i = 0; i < paths.length - 1; i++){
                    var path = paths[i];
                    totalPath = totalPath + (path ? (path + "/") : "");
                    res.push({name: path || "Home", path: totalPath})
                }
                return res;
            },
            isHome: function(){
              console.log(window.location.pathname);
              return window.location.pathname == "/";
            }
        },
        components: {
        }
    });
</script>

<style>
    body{
        padding-top: 10px;
    }
</style>


</body>
</html>
