.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.arc path {
        stroke: #fff;
    }

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.bar {
  fill: orange;
}

#item-selector{
    top : 5px;
    left : 5px;
    font-size: 17px;
    border-radius:3px;
    position:absolute;
}

#graph-selector, text{
    top : 5px;
    right : 5px;
    font-size: 17px;
    border-radius:3px;
    position:absolute;
    /*font-family:'ヒラギノ角ゴ ProN W3','メイリオ';*/
}

