<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta name="viewport" content="width=960">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta property="fb:admins" content="100002358474209">
    <meta property="fb:app_id" content="362864550832043">
    <meta property='og:site_name' content='Hitokun's />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@hitokuns">
    
    
    
    <meta property="og:image" content="https://hitokun-s.github.io/image/clock1.png"/>
    
    
    
    <meta property="og:title" content="Watch as Moving Blocks" />
    <meta property="og:type" content="article" />

    <title>Watch as Moving Blocks | Hitokun's</title>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/53/three.min.js"></script>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <![endif]-->
    <script src="js/google-tracking.js"></script>

    <link href="css/responsive-helper.css" rel="stylesheet">
    <style>
        body{
            font-size: 20px;
            min-width: 800px;
            overflow-x: auto;
        }
        .h-40{
            height:40px;
        }
    </style>
</head>
<body>





<div class="ui top container">
    <div class="ui tabular menu h-40">
        <div class="left menu">
            <a href="/" class="item"><h1>Hitokun's</h1></a>
            <div class="large screen only">
                <span class="ui left pointing big label" style="margin-top:21px;">
                    My.status = (I as Programmer).canHelp(You) ? HAPPY : SAD;
                </span>
            </div>
        </div>
        <div class="right menu">
            <a href="/index.html" class="item active">
                Home
            </a>
            <a href="/about.html" class="item ">
                About
            </a>
            <a href="/contact.html" class="item ">
                Contact
            </a>
        </div>
    </div>
</div>
<br>
<div class="ui container">
    <div class="ui big breadcrumb" id="breadcrumb" v-if="!isHome()">
        <template v-for="item in getMenu()">
            <a :href="item.path" class="section">{{ item.name }}</a>
            <i class="right chevron icon divider"></i>
        </template>
    </div>
    <script>

    var WIDTH = window.innerWidth, HEIGHT = window.innerHeight;
    var renderer, scene, camera, light, controls;
    var theta = 0;
    var mesh_len = 30;
    var h1, h2, m1, m2, s1, s2;
    var timenums = [h1, h2, m1, m2, s1, s2];

    var Dot = function (x, y, z) {
        this.x = x;
        this.y = y;
        this.z = z;
    }

    var bitmap0 = [
        [1, 1, 1],
        [1, 0, 1],
        [1, 0, 1],
        [1, 0, 1],
        [1, 1, 1]
    ];

    var bitmap1 = [
        [0, 1, 0],
        [0, 1, 0],
        [0, 1, 0],
        [0, 1, 0],
        [0, 1, 0]
    ];

    var bitmap2 = [
        [1, 1, 1],
        [0, 0, 1],
        [1, 1, 1],
        [1, 0, 0],
        [1, 1, 1]
    ];

    var bitmap3 = [
        [1, 1, 1],
        [0, 0, 1],
        [1, 1, 1],
        [0, 0, 1],
        [1, 1, 1]
    ];

    var bitmap4 = [
        [1, 0, 1],
        [1, 0, 1],
        [1, 1, 1],
        [0, 0, 1],
        [0, 0, 1]
    ];

    var bitmap5 = [
        [1, 1, 1],
        [1, 0, 0],
        [1, 1, 1],
        [0, 0, 1],
        [1, 1, 1]
    ];

    var bitmap6 = [
        [1, 1, 1],
        [1, 0, 0],
        [1, 1, 1],
        [1, 0, 1],
        [1, 1, 1]
    ];

    var bitmap7 = [
        [1, 1, 1],
        [1, 0, 1],
        [1, 0, 1],
        [0, 0, 1],
        [0, 0, 1]
    ];

    var bitmap8 = [
        [1, 1, 1],
        [1, 0, 1],
        [1, 1, 1],
        [1, 0, 1],
        [1, 1, 1]
    ];

    var bitmap9 = [
        [1, 1, 1],
        [1, 0, 1],
        [1, 1, 1],
        [0, 0, 1],
        [1, 1, 1]
    ];

    var bitmaps = [bitmap0, bitmap1, bitmap2, bitmap3, bitmap4, bitmap5, bitmap6, bitmap7, bitmap8, bitmap9];

    var NumLetter = function (_bitmap) {
        this.bitmap = _bitmap;
        this.cubes = [new Array(), new Array(), new Array(), new Array(), new Array()];
        this.appear = function (x, y, z) {
            for (var i = 0; i < 5; i++) {
                if (this.bitmap[i][0] == 1) {
                    this.cubes[i][0] = addCube(x - 1, y, z + 4 - i);
                } else {
                    this.cubes[i][0] = addCube(x - 1, y + 3, z + 4 - i);
                }
                if (this.bitmap[i][1] == 1) {
                    this.cubes[i][1] = addCube(x, y, z + 4 - i);
                } else {
                    this.cubes[i][1] = addCube(x, y + 3, z + 4 - i);
                }
                if (this.bitmap[i][2] == 1) {
                    this.cubes[i][2] = addCube(x + 1, y, z + 4 - i);
                } else {
                    this.cubes[i][2] = addCube(x + 1, y + 3, z + 4 - i);
                }
            }
        }
        this.setBitMap = function (map) {
            this.bitmap = map;
//        for (var i = 0 ; i < 5; i++){
//            for(var j = 0;j < 3;j++){
//                if(this.bitmap[i][0] == 1){
//                    this.cubes[i][j].position.y = mesh_len/2;
//                }else{
//                    this.cubes[i][j].position.y = mesh_len/2 + mesh_len * 3;
//                }
//            }
//        }
        }
        this.move = function (destmap, restsec) {
            for (var i = 0; i < 5; i++) {
                for (var j = 0; j < 3; j++) {
                    if (this.bitmap[i][j] == destmap[i][j])continue;
                    var direct = destmap[i][j] - this.bitmap[i][j];
                    var ratio;
                    if (direct > 0) {
                        ratio = restsec / 1000;
                    } else {
                        ratio = 1 - restsec / 1000;
                    }
                    var tmp = this.cubes[i][j].position.y;
                    this.cubes[i][j].position.y = mesh_len / 2 + mesh_len * 3 * ratio;
                    //console.log("cube y:" +  (tmp - this.cubes[i][j].position.y));
                }
            }
        }
    }
    var NumLetters;//「HH:MI:SS」の6つの数字立体が入る

    function init() {
        var now = new Date();
        //alert(now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds());
        initScene();
        myanimate();
        $("#stop").click(stop);
    }

    function initScene() {
        renderer = new THREE.WebGLRenderer({antialias: true});
        //renderer = new THREE.CanvasRenderer({antialias: true});
        renderer.setSize(WIDTH, HEIGHT);

        //レンダラーのクリアカラー（背景色とアルファ値）を設定
        renderer.setClearColorHex(0xffffff, 1);
        $("#test_canvas").append(renderer.domElement);

        //sceneとは仮想３次元空間
        scene = new THREE.Scene();
        //scene.fog = new THREE.FogExp2( 0xAA9966, 0.015 );//地平線付近をかすませる

        //透視投影カメラの引数：画角,縦横比,視体積の手前までの距離,視体積の奥までの距離
        camera = new THREE.PerspectiveCamera(50, WIDTH / HEIGHT, 1, 2000);
        //位置座標を設定
        camera.position.set(0, -700, 85);

        camera.up.set(0, 0, 1);
        //カメラ視野の中心座標を設定
        //必ず各設定の最後によぶこと。これにより他の設定も反映される
        camera.lookAt(new THREE.Vector3(0, 0, 0));

//    controls = new THREE.OrbitControls(camera);
//    controls.center = new THREE.Vector3(0, 0, 0);
//    controls.addEventListener("change", renderer);
//    controls.autoRotate = true;
//    controls.autoRotateSpeed = 2;

        light = new THREE.DirectionalLight(0xffffff, 1);
        light.position.set(-20, -40, -15);
        light.target.position.copy(scene.position);
        light.castShadow = true;
        light.shadowCameraLeft = -60;
        light.shadowCameraTop = -60;
        light.shadowCameraRight = 60;
        light.shadowCameraBottom = 60;
        light.shadowCameraNear = 20;
        light.shadowCameraFar = 200;
        light.shadowBias = -.0001
        light.shadowMapWidth = light.shadowMapHeight = 2048;
        light.shadowDarkness = .7;
        scene.add(light);

        var plane = new THREE.Mesh(
                //引数：分割セグメント数（方向１）、分割セグメント数（方向２）
                new THREE.PlaneGeometry(30 * mesh_len, 30 * mesh_len, 30, 30),
                //overdraw: true にするとセグメント境界が非表示になるらしい
                new THREE.MeshBasicMaterial({color: 0x555555, wireframe: true})
        );
        //plane.rotation.z = 0.5;
        scene.add(plane);

        var timenums = getTimeNums(0);
        h1 = timenums[0];
        h2 = timenums[1];
        m1 = timenums[2];
        m2 = timenums[3];
        s1 = timenums[4];
        s2 = timenums[5];
        lh1 = new NumLetter(bitmaps[h1]);
        lh2 = new NumLetter(bitmaps[h2]);
        lm1 = new NumLetter(bitmaps[m1]);
        lm2 = new NumLetter(bitmaps[m2]);
        ls1 = new NumLetter(bitmaps[s1]);
        ls2 = new NumLetter(bitmaps[s2]);

        lh1.appear(-12, 0, 0);
        lh2.appear(-8, 0, 0);

        addCube(-5, 0, 1);//時と分の間のコロン
        addCube(-5, 0, 3);//時と分の間のコロン

        lm1.appear(-2, 0, 0);
        lm2.appear(2, 0, 0);

        addCube(5, 0, 1);//分と秒の間のコロン
        addCube(5, 0, 3);//分と秒の間のコロン

        ls1.appear(8, 0, 0);
        ls2.appear(12, 0, 0);

        NumLetters = new Array(lh1, lh2, lm1, lm2, ls1, ls2);
    }

    function addCube(x, y, z) {
        var cube = new THREE.Mesh(
                new THREE.CubeGeometry(mesh_len, mesh_len, mesh_len),//縦・横・高さ
                new THREE.MeshLambertMaterial({color: 0xff0000})//材質オブジェクト
                //MeshLambertMaterial = 光源からの光を反射する材質
        );
        scene.add(cube);
        cube.position.set(mesh_len / 2 + mesh_len * x, mesh_len / 2 + mesh_len * y, mesh_len / 2 + mesh_len * z);
        return cube;
    }

    var anime;
    var timer = 1;
    function myanimate() {
        anime = requestAnimationFrame(myanimate);//再起無限ループによるアニメーション
        //var timer = Date.now();
        camera.position.x = 800 * Math.sin(timer * Math.PI);
        camera.position.y = 800 * Math.cos(timer * Math.PI);
        timer = timer + 0.002;
        if (timer == 2)timer = 0;
        //camera.position.x = 800 * Math.sin( timer * Math.PI);
        //camera.position.y = 800 * Math.cos( timer * Math.PI);
        camera.lookAt(new THREE.Vector3(0, 0, 0));

        renderer.render(scene, camera);

        var nextnums = getTimeNums(1000);
        var nownums = getTimeNums(0);
        for (var i = 0; i < 6; i++) {
            if (nownums[i] != timenums[i]) {
                timenums[i] = nownums[i];
                NumLetters[i].setBitMap(bitmaps[timenums[i]]);
            } else {
                if (nextnums[i] != timenums[i]) {
                    var now = new Date;
                    var rest = 1000 - now.getMilliseconds();
                    NumLetters[i].move(bitmaps[nextnums[i]], rest);
                }
            }
        }
    }

    //指定ミリ秒数後の時刻を、[h1, h2, m1, m2, s1, s2]の６つの数字で返す。
    function getTimeNums(forward) {
        var date = new Date();
        date.setTime(date.getTime() + forward);
        var h = date.getHours();
        var m = date.getMinutes();
        var s = date.getSeconds();
        return [parseInt(h / 10), h % 10, parseInt(m / 10), m % 10, parseInt(s / 10), s % 10];
    }

    function stop() {
        cancelAnimationFrame(anime);
        $("#stop").text("RESTART");
        $("#stop").unbind().click(restart);
    }

    function restart() {
        $("#stop").text("STOP");
        $("#stop").unbind().click(stop);
        myanimate();
    }

    $(function () {
        init();
    });
</script>

<h1>Watch as Moving Blocks</h1>
<button id="stop" class="ui primary button">STOP</button>
<div id="test_canvas"></div>
</div>
<script>
    var breadcrumb = new Vue({
        el: '#breadcrumb',
        data: {
        },
        methods: {
            getMenu: function(){
                var totalPath = "/";
                var res = [];
                var paths = window.location.pathname.split("/");
                for(var i = 0; i < paths.length - 1; i++){
                    var path = paths[i];
                    totalPath = totalPath + (path ? (path + "/") : "");
                    res.push({name: path || "Home", path: totalPath})
                }
                return res;
            },
            isHome: function(){
              console.log(window.location.pathname);
              return window.location.pathname == "/";
            }
        },
        components: {
        }
    });
</script>

<style>
    body{
        padding-top: 10px;
    }
</style>


</body>
</html>
