<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta name="viewport" content="width=960">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta property="fb:admins" content="100002358474209">
    <meta property="fb:app_id" content="362864550832043">
    <meta property='og:site_name' content='Hitokun's />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@hitokuns">
    
    
    
    
    
    
    
    <meta property="og:title" content="CT scan graph" />
    <meta property="og:type" content="article" />

    <title>CT scan graph | Hitokun's</title>
    
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>

<link href="https://cdn.rawgit.com/tyleryasaka/semantic-ui-range/5154d879/range.css" rel="stylesheet">
<script type="text/javascript" src="https://cdn.rawgit.com/tyleryasaka/semantic-ui-range/5154d879/range.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.0.13/fontfaceobserver.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <![endif]-->
    <script src="/js/google-tracking.js"></script>

    <link href="/css/responsive-helper.css" rel="stylesheet">
    <style>
        body{
            font-size: 20px;
            min-width: 800px;
            overflow-x: auto;
        }
        .h-40{
            height:40px;
        }
    </style>
</head>
<body>





<div class="ui top container">
    <div class="ui tabular menu h-40">
        <div class="left menu">
            <a href="/" class="item"><h1>Hitokun's</h1></a>
            <div class="large screen only">
                <span class="ui left pointing big label" style="margin-top:21px;">
                    My.status = (I as Programmer).canHelp(You) ? HAPPY : SAD;
                </span>
            </div>
        </div>
        <div class="right menu">
            <a href="/index.html" class="item active">
                Home
            </a>
            <a href="/about.html" class="item ">
                About
            </a>
            <a href="/contact.html" class="item ">
                Contact
            </a>
        </div>
    </div>
</div>
<br>
<div class="ui container">
    <div class="ui big breadcrumb" id="breadcrumb" v-if="!isHome()">
        <template v-for="item in getMenu()">
            <a :href="item.path" class="section">{{ item.name }}</a>
            <i class="right chevron icon divider"></i>
        </template>
    </div>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<style>
    div [class*="left floated"] {
        float: left;
        margin-left: 1em;
    }
    #range{
        width:300px;
        margin-bottom: 10px;
    }
</style>

<div class="container">
    <div class="row">
        <h1>CT scan graph</h1>
        <div class="left floated">
            <canvas id="canvas" width="240px" height="240px">
                Your browser does not support HTML5 canvas.
            </canvas>
        </div>
        <div class="left floated">
            <p>Ratio:</p>
            <div class="ui range" id="range"></div>
        </div>
    </div>
</div>

<script>

    function rgbToHex(r, g, b) {
        return ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1);
    }

    function hexToRgb(hex) {
        // Expand shorthand form (e.g. "03F") to full form (e.g. "0033FF")
        var shorthandRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/i;
        hex = hex.replace(shorthandRegex, function(m, r, g, b) {
            return r + r + g + g + b + b;
        });

        var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
//        return result ? {
//            r: parseInt(result[1], 16),
//            g: parseInt(result[2], 16),
//            b: parseInt(result[3], 16)
//        } : null;
        return [parseInt(result[1], 16), parseInt(result[2], 16), parseInt(result[3], 16)];
    }

    var ratio = 0.5;
    
    var getMultiLines = function(ctx, text, maxWidth){
        var texts = text.split(" ");
        var res = [];
        var tmp = "";
        texts.forEach(function(w){
            if(ctx.measureText(tmp + " " + w).width > maxWidth){
                res.push(tmp);
                tmp = w;
            }else{
                tmp = tmp + " " + w;
            }
        });
        res.push(tmp);
        return res;
    };
    
    $(function() {
        
        var canvas = document.getElementById('canvas');
        var ctx = canvas.getContext('2d');
        
        var leftColors = ["#5ca793", "#74b7a5"];
        var rightColors = ["#575070", "#6a627f", "#756e8e"];

        var draw = function() {

            ctx.clearRect(0, 0, canvas.width, canvas.height); // imnportant for anti-aliasing!
            
            var x = canvas.width / 2; 
            var y = canvas.height / 2;

            ctx.beginPath();
            ctx.strokeStyle = "#f3f3f5";
            ctx.lineWidth = 2;
            ctx.arc(x, y, 81.5, 0, Math.PI*2, false);
            ctx.stroke();

            // base
            ctx.beginPath();
            ctx.strokeStyle = "#4e93ae"; // 117899
            ctx.lineWidth = 15;
            ctx.arc(x, y, 60, 0, Math.PI*2, false);
            ctx.stroke();
            
            // main graph
            ctx.beginPath();
            ctx.strokeStyle = "#0f7899";
            ctx.lineWidth = 15;
            ctx.arc(x, y, 60, - Math.PI / 2 , Math.PI * ( - 0.5 + 2 * ratio), false);
            ctx.stroke();
            
            // edges of maiin graph
            ctx.fillStyle = "#0f7899";
            ctx.save();
            ctx.translate(x, y - 60);
            ctx.beginPath();
            ctx.ellipse(0, 0, 6, 7.5, 0, Math.PI / 2, - Math.PI / 2, false); // cx, cy, radiusX, radiusY, rotation, startAngle, endAngle, anticlockwise
            ctx.fill();
            ctx.restore();

            ctx.beginPath();
            ctx.save();
            ctx.translate(x, y);
            ctx.rotate(Math.PI * 2 * ratio);
            ctx.translate(0, - 60);
            ctx.ellipse(0, 0, 6, 7.5, 0, - Math.PI / 2, Math.PI / 2, false);
            ctx.fill();

            // special edge when over 100%
            if(ratio > 0.97){
                ctx.beginPath();
                ctx.strokeStyle = "rgba(10,10,10,0.4)";
                ctx.lineWidth = 3;
                ctx.ellipse(0, 0, 6, 7.5, 0, - Math.PI / 2 + 0.15, Math.PI / 2 - 0.15, false);
                ctx.stroke();    
            }
            
            ctx.restore();
            
            // shadow
            ctx.beginPath();
            ctx.strokeStyle = "rgba(60,60,60,0.2)";
            ctx.lineWidth = 7;
            ctx.arc(x, y, 56.5, 0, Math.PI*2, false);
            ctx.stroke();
            
            // main text
            ctx.save();
            ctx.translate(x, y);
            ctx.fillStyle = "#000";
            ctx.font = "Bold 18px Roboto";
            ctx.textAlign="center";
            ctx.fillText(Math.round(ratio * 100) + "%", 0, 0);

            // sub text
            ctx.fillStyle = "#333333";
            ctx.font = "10px Roboto";
            var lines = getMultiLines(ctx, "Long-Term Debt to Asset Ratio", 100);
            console.log(lines);
            for(var i = 0;i < lines.length;i++){
                ctx.fillText(lines[i], 0, 11 * (i + 1));    
            }
            
            ctx.restore();
            
        };

        var font = new FontFaceObserver('Roboto', {
            weight: 400
        });

        font.load().then(function () {
            console.log('Font is available');
            
            $('#range').range({
                min: 0,
                max: 150,
                start: 40,
                onChange: function(val){
                    ratio = val / 100;
                    draw();
                }
            });
        });
    });
</script>
</div>
<script>
    var breadcrumb = new Vue({
        el: '#breadcrumb',
        data: {
        },
        methods: {
            getMenu: function(){
                var totalPath = "/";
                var res = [];
                var paths = window.location.pathname.split("/");
                for(var i = 0; i < paths.length - 1; i++){
                    var path = paths[i];
                    totalPath = totalPath + (path ? (path + "/") : "");
                    res.push({name: path || "Home", path: totalPath})
                }
                return res;
            },
            isHome: function(){
              console.log(window.location.pathname);
              return window.location.pathname == "/";
            }
        },
        components: {
        }
    });
</script>

<style>
    body{
        padding-top: 10px;
    }
</style>


</body>
</html>
