<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta name="viewport" content="width=960">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta property="fb:admins" content="100002358474209">
    <meta property="fb:app_id" content="362864550832043">
    <meta property='og:site_name' content='Hitokun's />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@hitokuns">
    
    
    
    
    
    
    
    <meta property="og:title" content="File Tree View" />
    <meta property="og:type" content="article" />

    <title>File Tree View | Hitokun's</title>
    
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.3.9/d3.min.js"></script>
<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <![endif]-->
    <script src="/js/google-tracking.js"></script>
    <script src="/old/js/google-tracking.js"></script>

    <link href="/css/responsive-helper.css" rel="stylesheet">
    <link href="/old/css/responsive-helper.css" rel="stylesheet">
    <style>
        body{
            font-size: 20px;
            min-width: 800px;
            overflow-x: auto;
        }
        .h-40{
            height:40px;
        }
    </style>
</head>
<body>





<div class="ui top container">
    <div class="ui tabular menu h-40">
        <div class="left menu">
            <a href="/" class="item"><h1>Hitokun's</h1></a>
            <div class="large screen only">
                <span class="ui left pointing big label" style="margin-top:21px;">
                    My.status = (I as Programmer).canHelp(You) ? HAPPY : SAD;
                </span>
            </div>
        </div>
        <div class="right menu">
            <a href="/index.html" class="item active">
                Home
            </a>
            <a href="/about.html" class="item ">
                About
            </a>
            <a href="/contact.html" class="item ">
                Contact
            </a>
        </div>
    </div>
</div>
<br>
<div class="ui container">
    <div class="ui big breadcrumb" id="breadcrumb" v-if="!isHome()">
        <template v-for="item in getMenu()">
            <a :href="item.path" class="section">{{ item.name }}</a>
            <i class="right chevron icon divider"></i>
        </template>
    </div>
    <style>
    li {
        list-style-type: none;
    }

    ul {
        list-style-type: none;
        padding-left: 70px;
    }

    li {
        border-top: 1px solid black;
    }

    .fa-minus-square-o, .fa-plus-square-o {
        cursor: pointer;
        margin-right: 4px;
    }

    input {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        outline: 0;
        border: none;
        box-sizing: border-box;
        background-color: white;
        cursor: pointer;
    }

    #treeview {
        width: 100%;
    }
</style>

<div class="container">
    <div class="row">
        <h1>Finance Sheet</h1>
        <div class="col-xs-8">
            <div id="treeview"></div>
        </div>
        <button id="expand" class="btn btn-primary">expand all</button>
        <button id="shrink" class="btn btn-primary">shrink all</button>
    </div>
</div>
<script>

    var data = [
        {
            code: "ssd", value: 300, children: [
            {code: "abc", mcode: "ahos", value: 100},
            {code: "abc", mcode: "ah", value: 200},
            {code: "abc", mcode: "sojof", value: 200},
            {code: "abc", mcode: "sof", value: 200},
        ]
        },
        {
            code: "ssd", value: 300, children: [
            {code: "xxx", mcode: "ahos", value: 100},
            {
                code: "xxx", mcode: "ah", value: 200, children: [
                {code: "ssd", mcode: "ah", scode: "ahiskd", value: 200},
                {code: "ssd", mcode: "ah", scode: "ahid", value: 200}
            ]
            },
        ]
        },
        {
            code: "ssd", value: 300, children: [
            {code: "ccc", mcode: "ahos", value: 100},
            {code: "ccc", mcode: "ah", value: 200},
        ]
        }
    ]

    function makeTree(d3Elm, data) {
        var li = d3Elm.append("ul").selectAll("li").data(data).enter().append("li");
        li.filter(function (d) {
            return d.children
        }).append("i").attr("class", "fa fa-minus-square-o").on("click", function () {
            $(this).parent().find("li").toggle(100);
            $(this).toggleClass("fa-plus-square-o fa-minus-square-o");
        });
        li.append("text").text(function (d) {
            return d.code
        });
        li.append("text").classed("pull-right", true).text(function (d) {
            return d.value
        })

        if (li.filter(function (d) {
                    return d.children
                }).size() > 0) {
            makeTree(li.filter(function (d) {
                return d.children
            }), function (d) {
                return d.children;
            });
        }
    }
    makeTree(d3.select("#treeview"), data);


    $('[data-type="folder"]').children("input").dblclick(function (e) {
        $(this).parent().find("li").toggle(100);
        $(this).prevAll("i:first-child").toggleClass("fa-plus-square-o fa-minus-square-o");
    });

    $(".fa-minus-square-o").click();

    $("#expand").click(function () {
        $(".fa-plus-square-o").click();
    });
    $("#shrink").click(function () {
        $(".fa-minus-square-o").click();
    });

</script>
</div>
<script>
    var breadcrumb = new Vue({
        el: '#breadcrumb',
        data: {
        },
        methods: {
            getMenu: function(){
                var totalPath = "/";
                var res = [];
                var paths = window.location.pathname.split("/");
                for(var i = 0; i < paths.length - 1; i++){
                    var path = paths[i];
                    totalPath = totalPath + (path ? (path + "/") : "");
                    res.push({name: path || "Home", path: totalPath})
                }
                return res;
            },
            isHome: function(){
              console.log(window.location.pathname);
              return window.location.pathname == "/";
            }
        },
        components: {
        }
    });
</script>

<style>
    body{
        padding-top: 10px;
    }
</style>


</body>
</html>
