<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta name="viewport" content="width=960">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta property="fb:admins" content="100002358474209">
    <meta property="fb:app_id" content="362864550832043">
    <meta property='og:site_name' content='Hitokun's />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@hitokuns">
    
    <meta name="description" content="Python syntax checker">
    <meta name="Keywords" content="python,syntax,checker,programming">
    
    <meta property="og:url" content="https://hitokun-s.github.io/demo/python-syntax-checker.html"/>
    <meta property="og:description" content="Python syntax checker"/>
    
    <meta property="og:title" content="Python syntax checker" />
    <meta property="og:type" content="article" />

    <title>Python syntax checker | Hitokun's</title>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/codemirror.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/theme/solarized.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/addon/edit/closebrackets.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/addon/edit/matchbrackets.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/mode/python/python.min.js"></script>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <![endif]-->
    <script src="js/google-tracking.js"></script>

    <link href="css/responsive-helper.css" rel="stylesheet">
    <style>
        body{
            font-size: 20px;
            min-width: 800px;
            overflow-x: auto;
        }
        .h-40{
            height:40px;
        }
    </style>
</head>
<body>





<div class="ui top container">
    <div class="ui tabular menu h-40">
        <div class="left menu">
            <a href="/" class="item"><h1>Hitokun's</h1></a>
            <div class="large screen only">
                <span class="ui left pointing big label" style="margin-top:21px;">
                    My.status = (I as Programmer).canHelp(You) ? HAPPY : SAD;
                </span>
            </div>
        </div>
        <div class="right menu">
            <a href="/index.html" class="item active">
                Home
            </a>
            <a href="/about.html" class="item ">
                About
            </a>
            <a href="/contact.html" class="item ">
                Contact
            </a>
        </div>
    </div>
</div>
<br>
<div class="ui container">
    <div class="ui big breadcrumb" id="breadcrumb" v-if="!isHome()">
        <template v-for="item in getMenu()">
            <a :href="item.path" class="section">{{ item.name }}</a>
            <i class="right chevron icon divider"></i>
        </template>
    </div>
    <script src="js/skulpt.min.js" type="text/javascript"></script>
<script src="js/skulpt-stdlib.js" type="text/javascript"></script>

<style>
    .line-error{
        background: darkorange;
    }
</style>

<h1>Python syntax checker</h1>

<div class="ui grid" id="example">
    <div class="eight wide column">
        <textarea id="code" cols="85" rows="25"></textarea>
    </div>
    <div class="eight wide column">
        <button v-on:click="check()" class="ui button">check</button>
        <p v-show="errorLine == -1">No error!</p>
        <p v-show="errorLine != null && errorLine >= 0">An error found!</p>
    </div>
</div>

<script>

  var example = new Vue({
    el: '#example',
    data: {
      editor: null,
      errorLine: null
    },
    mounted: function(){
      this.editor = CodeMirror.fromTextArea(document.getElementById('code'), {
        mode: "python",
        autofocus: true,
        theme: "solarized dark",
        styleActiveLine: true,
        lineNumbers: true,
        textWrapping: false,
        indentUnit: 4,
        height: "160px",
        fontSize: "9pt",
        autoCloseBrackets: true,
        autoMatchParens: true,
        extraKeys: {},
        parserConfig: {'pythonVersion': 2, 'strictErrors': true}
      });
      var self = this;
      this.editor.on("focus", function(){
        if(self.errorLine != null && self.errorLine >= 0){
          self.editor.removeLineClass(self.errorObj, "background", "line-error");
          self.errorObj = null;
          self.errorLine = null;
        }
      });
      this.editor.setValue("print(\"implement me!\")")
    },
    methods: {
      check: function(){
        console.log(this.editor.getValue());
        try{
          Sk.compile(this.editor.getValue(), "test", "eval", true);
          this.errorLine = -1;
        }catch(e){
          console.log(e);
          this.errorLine = e.traceback[0].lineno - 1;
          this.errorObj = this.editor.addLineClass(e.traceback[0].lineno - 1, 'background', 'line-error');
          console.log(this.errorLine);
        }
      }
    }
  });
    
</script>


</div>
<script>
    var breadcrumb = new Vue({
        el: '#breadcrumb',
        data: {
        },
        methods: {
            getMenu: function(){
                var totalPath = "/";
                var res = [];
                var paths = window.location.pathname.split("/");
                for(var i = 0; i < paths.length - 1; i++){
                    var path = paths[i];
                    totalPath = totalPath + (path ? (path + "/") : "");
                    res.push({name: path || "Home", path: totalPath})
                }
                return res;
            },
            isHome: function(){
              console.log(window.location.pathname);
              return window.location.pathname == "/";
            }
        },
        components: {
        }
    });
</script>

<style>
    body{
        padding-top: 10px;
    }
</style>


</body>
</html>
