<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta name="viewport" content="width=960">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta property="fb:admins" content="100002358474209">
    <meta property="fb:app_id" content="362864550832043">
    <meta property='og:site_name' content='Hitokun's />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@hitokuns">
    
    <meta name="description" content="Sphere Rotation using p5.js">
    <meta name="Keywords" content="sphere,skeleton,p5.js">
    <meta property="og:image" content="https://hitokun-s.github.io/demo/img/skeleton-sphere.png"/>
    <meta property="og:url" content="https://hitokun-s.github.io/demo/skeleton-sphere.html"/>
    <meta property="og:description" content="Sphere Rotation using p5.js"/>
    
    <meta property="og:title" content="Skeleton Sphere" />
    <meta property="og:type" content="article" />

    <title>Skeleton Sphere | Hitokun's</title>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <![endif]-->
    <script src="js/google-tracking.js"></script>

    <link href="css/responsive-helper.css" rel="stylesheet">
    <style>
        body{
            font-size: 20px;
            min-width: 800px;
            overflow-x: auto;
        }
        .h-40{
            height:40px;
        }
    </style>
</head>
<body>





<div class="ui top container">
    <div class="ui tabular menu h-40">
        <div class="left menu">
            <a href="/" class="item"><h1>Hitokun's</h1></a>
            <div class="large screen only">
                <span class="ui left pointing big label" style="margin-top:21px;">
                    My.status = (I as Programmer).canHelp(You) ? HAPPY : SAD;
                </span>
            </div>
        </div>
        <div class="right menu">
            <a href="/index.html" class="item active">
                Home
            </a>
            <a href="/about.html" class="item ">
                About
            </a>
            <a href="/contact.html" class="item ">
                Contact
            </a>
        </div>
    </div>
</div>
<br>
<div class="ui container">
    <div class="ui big breadcrumb" id="breadcrumb" v-if="!isHome()">
        <template v-for="item in getMenu()">
            <a :href="item.path" class="section">{{ item.name }}</a>
            <i class="right chevron icon divider"></i>
        </template>
    </div>
    <h1>Skeleton Sphere</h1>
<div id="myContainer"></div>

<script>

  function setup() {
    var width = $("#myContainer").width();
    var height = 500;
    var canvas = createCanvas(width, height, WEBGL);
    canvas.parent("#myContainer");
    ortho();
    camera(0, 0, 1, 2, 0, 0, 0, 1, 0);

    fill(0);
    var c = orbitControl();
    console.log(c);
  }

  var radius = 200;
  var speed = 0.01;

  // refs: https://qiita.com/hp0me/items/1570694d9f61368f3ae6
  // ortho(): https://processing.org/reference/ortho_.html

  function draw() {
    orbitControl();

    background(255);

    // var locY = (mouseY / height - 0.5) * (-2);
    // var locX = (mouseX / width - 0.5) * 2;
    // ambientLight(100, 80, 80);
    // pointLight(200, 200, 200, locX, locY, 0);
    // directionalLight(250, 250, 250, locX, -locY, 0.25);

    var _frameCount = frameCount;
    // rotateX(-0.6);
    rotateZ(0.6);

    fill(255);
    stroke(255);
    // plane(600, 600);
    fill(0);
    stroke(0);

    for(var i = -9;i < 9;i++){
      push();
      rotateY(_frameCount * speed + TWO_PI * 2 * i / 18);
      torus(radius, 1, 48, 16);
      pop();
    }
    rotateX(HALF_PI);
    torus(radius, 1, 48, 16);

    for(var i = -8;i < 9;i++){
      push();
      translate(0,0,Math.sin((HALF_PI) * i / 9) * radius);
      torus(Math.cos((HALF_PI) * i / 9) * radius, 1, 48, 16);
      pop();
    }
  }

</script>
</div>
<script>
    var breadcrumb = new Vue({
        el: '#breadcrumb',
        data: {
        },
        methods: {
            getMenu: function(){
                var totalPath = "/";
                var res = [];
                var paths = window.location.pathname.split("/");
                for(var i = 0; i < paths.length - 1; i++){
                    var path = paths[i];
                    totalPath = totalPath + (path ? (path + "/") : "");
                    res.push({name: path || "Home", path: totalPath})
                }
                return res;
            },
            isHome: function(){
              console.log(window.location.pathname);
              return window.location.pathname == "/";
            }
        },
        components: {
        }
    });
</script>

<style>
    body{
        padding-top: 10px;
    }
</style>


</body>
</html>
